*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.flex {
  max-width: 75%;
  margin: auto;
  height: 80vh;
  margin-top: 5%;
}

.flex .left,
.right {
  width: 50%;
  padding: 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex1 {
  display: flex;
}

 .flex .main_image {    
    width:400px;
    height:270px;
}

.flex .main_image img {
    width: 100%;
    height: inherit;
    object-fit:fill;
    mix-blend-mode: multiply;
}

.rightPro {
  padding: 50px 100px 50px 50px;
}

.rightPro h3 {
  color: #dc3545;
  margin: 20px 0 20px 0;
  font-size: 25px;
}
.rightPro h5,
p,
small {
  color: #837d7c;
}

.rightPro h4 {
  color: red;
}

.rightPro p {
  margin: 20px 0 50px 0;
  line-height: 25px;
}

.rightPro h5 {
  font-size: 15px;
}
.flex label,
.add span,
.color span {
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 50%;
  margin: 20px 10px 20px 0;
}

.add label,
.add span {
  background: none;
  border: 1px solid #999898;
  color: #dc3545;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}

.add label {
  padding: 10px 30px 0 20px;
  border-radius: 50px;
  line-height: 0;
}

.flex button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: #dc3545;
  color: white;
  border-radius: 30px;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    margin: auto;
    height: auto;
  }

  .flex .left,
  .right {
    width: 100%;
  }

  .flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 511px) {
  .container {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }

  .left,
  .right {
    padding: 0;
  }

  .option {
    display: flex;
    flex-wrap: wrap;
  }
}
